  form {
    margin-left: 25%;
    margin-right: 25%;
  }

  form .form-icons {
    text-align: center;
  }
  
  form .form-icons h4 {
    margin-bottom: 1rem;
  }
  
  form .form-icons .input-group-label {

    border-color: black;
  }

  #fa-img {

   margin-top: 10px;
   background: darkslategray;
  }

  #fa-img1 {

    margin-top: 10px;
    background: darkslategray;
  }
  
  #fa-img2 {

    margin-top: 10px;
    background: darkslategray;
  }
  
  #fa-img3 {

    margin-top: 10px;
    background: darkslategray;
  }
  
  #fa-img4 {

    margin-top: 10px;
    background: darkslategray;
  }
  
  form .form-icons .input-group-field {
    border-color: slategray;
  }

  .fa-connectdevelop:before {
    float: right;
  }
  
  form .form-icons .fa {
    color: white;
    width: 1rem;
  }

  .button.expanded {
      background: dimgray;
      width: 50%;
      margin-left: 25%;
  }


  #imgTxt {
      float: left;
  }

  #page2 {
      border: double;
      border-color: darkslategray;
  }